<IfModule mod_rewrite.c>
    RewriteEngine On
    # Cambiar a la ruta correcta de tu subdominio
    RewriteBase / 

    # Permitir CORS
    Header set Access-Control-Allow-Origin "*"
    
    # Permitir archivos y directorios existentes
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirigir todas las solicitudes a index.html
    RewriteRule ^(.*)$ index.html [QSA,L]
</IfModule>

# Manejo de errores personalizado
ErrorDocument 403 /index.html
ErrorDocument 404 /index.html